<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadora JS</title>

  </head>
  <body>
    <div class="calculadora">
      <h3>Calculadora</h3>

      <table>
        <tr>
          <td>
            <input type="text" [(ngModel)]="pantalla"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="button" value="C" (click)="inicia()"/>
            <input type="button" value="CE" id="ce" />
            <input type="button" value="R" (click)="borrarNum()" />
            <input type="button" value="/" (click)="Operaciones('/')"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="button" value="7" (click)="ponerDigito('7')" />
            <input type="button" value="8" (click)="ponerDigito('8')"/>
            <input type="button" value="9" (click)="ponerDigito('9')" />
            <input type="button" value="*" (click)="Operaciones('*')" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="button" value="4" (click)="ponerDigito('4')" />
            <input type="button" value="5" (click)="ponerDigito('5')"/>
            <input type="button" value="6" (click)="ponerDigito('6')" />
            <input type="button" value="-"  (click)="Operaciones('-')"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="button" value="1" (click)="ponerDigito('1')" />
            <input type="button" value="2" (click)="ponerDigito('2')" />
            <input type="button" value="3" (click)="ponerDigito('3')" />
            <input type="button" value="+" (click)="Operaciones('+')" />
          </td>
        </tr>
        <tr>
          <td>
            <input
              type="button" value="+/-" class="operaciones" (click)="cambiaSigno()" />
            <input type="button" value="0" (click)="ponerDigito('0')" />
            <input type="button" value="," (click)="ponerComa()" />
            <input type="button" value="=" (click)="Operaciones('=')" />
          </td>
        </tr>
      </table>


    </div>

  </body>
</html>
