@import url('variables.css');

.error-msg {
    color: var(--error-color, red);
}

body {
    color: var(--cuerpo-color);
    background-color: var(--fondo-cuerpo);
}

.flex-container {
    display: flex;
    background-color: var(--fondo-cabeza-body);
}
.flex-container > div {
    width: 300px;
    margin: 5px;
    text-align: center;
    line-height: 70px;
    font-size: 2.5em;
  }
  @media (max-width: 600px) {
    .flex-container {
      flex-direction: column;
     
    }
  }
  @media (min-width: 800px) {
    .flex-container {
      flex-direction: row;
    }
  }

  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    background-image: url('../imagenes/lupa.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 70%;
    font-size: 30px;
  }


header {
    color: green;
    background-color: rgb(117, 212, 192);
}



@media print {
    input[type=submit], input[type=button]  {
        display: none;
    }
    body > header {
        display: none;
    }
    body {
        font-size: 20pt;
    }
    img {
        max-width: 200px;
    }
}

