
<h1>Prueba Blog </h1>
<div class="row mb-2">
  <div class="col-md-6" *ngFor="let item of VM.Listado">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">Angular</strong>
        <h3 class="mb-0">
          <a class="text-dark" [routerLink]="['/blog', item.id]">{{item.titulo}}</a>
        </h3>
        <div class="mb-1 text-muted">{{item.fecha | date:'MMM yyyy'}}</div>
        <p class="card-text mb-auto">{{item.texto | striptags | elipsis:100}}</p>
        <a [routerLink]="['/blog', item.id]">Leer mas</a>
      </div>
      <img *ngIf="item.fotourl" class="card-img-right flex-auto d-none d-lg-block" data-src="{{item.fotourl}}" alt="Imagen de {{item.titulo}}">
    </div>
  </div>
  <button
      *ngIf="VM.auth.isAutenticated"
      class="btn btn-success"
      [routerLink]="['add']"
    >
    <i class="fas fa-plus-square"></i> Nuevo Post
    </button>
  </div>
