<h1>Blog</h1>
<form #miForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="form-label" for="id">Código:</label>
      <input
        class="form-control"
        [class.is-invalid]="id.invalid && miForm.dirty"
        type="number"
        name="id"
        id="id"
        [(ngModel)]="VM.Elemento.id"
        #id="ngModel"
        required
        min="0"
      />
      <div
        class="invalid-feedback"
        [hidden]="!id.hasError('required') || miForm.pristine"
      >
        Es obligatorio
      </div>
    </div>

    <div class="form-group col-md-4">
      <label class="form-label" for="autor">Nombre:</label>
      <input
        class="form-control"
        [class.is-invalid]="autor.invalid"
        type="text"
        name="autor"
        id="autor"
        [(ngModel)]="VM.Elemento.autor"
        #autor="ngModel"
        required
        minlength="3"
        maxlength="50"
      />
      <div class="invalid-feedback" [hidden]="!autor?.errors?.required">
        Es obligatorio
      </div>
      <div
        class="invalid-feedback"
        [hidden]="!autor?.errors?.minlength && !autor?.errors?.maxlength"
      >
        Debe tener entre 3 y 30 letras
      </div>
    </div>
    <div class="form-group col-md-4">
      <label class="form-label" for="texto">Publicacion:</label>
      <input
        class="form-control"
        [class.is-invalid]="texto.invalid"
        type="text"
        name="texto"
        id="texto"
        [(ngModel)]="VM.Elemento.texto"
        #texto="ngModel"
        minlength="2"
      />
      <div
        class="invalid-feedback"
        [hidden]="!texto?.errors?.minlength && !texto?.errors?.maxlength"
      >
        Debe tener minimo 2 letras
      </div>
    </div>
  </div>
  fotourl: string | null = null;
  <div class="form-row">
    <div class="form-group col-md-2">
      <label class="form-label" for="Titulo">Titulo:</label>
      <input
        class="form-control"
        [class.is-invalid]="Titulo.invalid"
        type="tel"
        name="Titulo"
        id="Titulo"
        [(ngModel)]="VM.Elemento.Titulo"
        #Titulo="ngModel"
        maxlength="11"
      />
      <div class="invalid-feedback" [hidden]="!Titulo?.errors?.maxlength">
        No debe tener mas de 9 dígitos
      </div>
    </div>


    <div class="form-group col-md-2">
      <label class="form-label" for="fecha">Fecha:</label>
      <input
        class="form-control"
        type="date"
        name="fecha"
        id="fecha"
        [(ngModel)]="VM.Elemento.fecha"
        #fecha="ngModel"
      />
    </div>
      </div>
  <div class="form-group row">
    <div class="form-group col-md-12">
      <label class="form-label" for="avatar">Avatar:</label>
      <input
        class="form-control"
        [class.is-invalid]="avatar.invalid"
        type="url"
        name="avatar"
        id="avatar"
        [(ngModel)]="VM.Elemento.avatar"
        #avatar="ngModel"
        maxlength="500"
      />
      <div class="invalid-feedback" [hidden]="!avatar?.errors?.maxlength">
        Debe tener menos 500 caracteres.
      </div>
      <div class="invalid-feedback" [hidden]="!avatar?.errors?.type">
        {{ avatar?.errors?.type }}
      </div>
    </div>
  </div>
  <app-form-buttons
    (send)="VM.send()"
    [send-disabled]="miForm.invalid"
    (cancel)="VM.cancel()"
  ></app-form-buttons>
  <!-- <div class="form-group">
    <input type="button" class="btn btn-success" value="Enviar" (click)="VM.send()" [disabled]="miForm.invalid">
    <input type="button" class="btn btn-info" value="Volver" (click)="VM.cancel()">
  </div> -->
</form>
