<div>
  <h1>Titulo: {{ VM.Elemento.titulo }}</h1>
</div>
<img *ngIf="VM.Elemento.fotourl" [src]="VM.Elemento.fotourl" />
<div *ngIf="VM.Elemento.id">
  {{ VM.Elemento.fecha | date: "dd/MM/yyyy" }} by {{ VM.Elemento.autor }}

  <hr />
  <div [innerHTML]="VM.Elemento.texto"></div>
  <hr />
  <p>
    <button
      class="btn btn-success"
      routerLink="/../blog"
      routerLinkActive="active"
    >
      <i class="fas fa-blog"></i>Blog
    </button>

    &nbsp;
    <button
      *ngIf="VM.auth.isAutenticated"
      class="btn btn-success"
      [routerLink]="['/blog', VM.Elemento.id, 'edit']"
    >
      <i class="fas fa-pencil-alt"></i> Editar
    </button>
  </p>
</div>
