<h1>Blog</h1>
<form #miForm="ngForm">
  <div class="form">
    <div class="form-group col-md-3">
      <label class="form-label" for="id">Código:</label>
      <input
        class="form-control"
        [class.is-invalid]="id.invalid && miForm.dirty"
        type="number"
        name="id"
        id="id"
        [(ngModel)]="VM.Elemento.id"
        #id="ngModel"
        required
        min="0"
      />
      <div
        class="invalid-feedback"
        [hidden]="!id.hasError('required') || miForm.pristine"
      >
        Es obligatorio
      </div>

    </div>

    <div class="form-group col-md-3">
      <label class="form-label" for="autor">Nombre:</label>
      <input
        class="form-control"
        [class.is-invalid]="autor.invalid"
        type="text"
        name="autor"
        id="autor"
        [(ngModel)]="VM.Elemento.autor"
        #autor="ngModel"
        required
        minlength="3"
        maxlength="50"
      />
      <div class="invalid-feedback" [hidden]="!autor?.errors?.required">
        Es obligatorio
      </div>
      <div
        class="invalid-feedback"
        [hidden]="!autor?.errors?.minlength && !autor?.errors?.maxlength"
      >
        Debe tener entre 3 y 50 letras
      </div>
    </div>
    <div>
      <label for="texto">Texto:</label>
      <input
        class="form-control"
        [class.is-invalid]="texto.invalid"
        type="text"
        name="texto"
        id="texto"
        [(ngModel)]="VM.Elemento.texto"
        #texto="ngModel"
        minlength="2"
        maxlength="2000"
      />
    </div>
    <div class="form-group col-md-3">
      <label class="form-label" for="Titulo">Titulo:</label>
      <input
        class="form-control"
        [class.is-invalid]="Titulo.invalid"
        type="tel"
        name="Titulo"
        id="Titulo"
        [(ngModel)]="VM.Elemento.Titulo"
        #Titulo="ngModel"
        maxlength="50"
      />
      <div class="invalid-feedback" [hidden]="!Titulo?.errors?.maxlength">
        Debe tener entre maximo 50 caracteter
      </div>
    </div>

    <div class="form-group col-md-3">
      <label class="form-label" for="fecha">Fecha:</label>
      <input
        class="form-control"
        type="date"
        name="fecha"
        id="fecha"
        [(ngModel)]="VM.Elemento.fecha"
        #fecha="ngModel"
      />
    </div>
    <div class="form-group col-md-3">
      <label class="form-label" for="avatar">Avatar:</label>
      <input
        class="form-control"
        [class.is-invalid]="avatar.invalid"
        type="url"
        name="avatar"
        id="avatar"
        [(ngModel)]="VM.Elemento.avatar"
        #avatar="ngModel"
        maxlength="2000"
      />
      <!-- <p-editor-container [(ngModel)]="VM.Elemento.texto"[style]="{'height':'320px'}">

      </p-editor-container> -->
      <div class="invalid-feedback" [hidden]="!avatar?.errors?.maxlength">
        Debe tener maximo 2000 caracteres.
      </div>
      <div class="invalid-feedback" [hidden]="!avatar?.errors?.type">
        {{ avatar?.errors?.type }}
      </div>
    </div>
    <div>
      <app-form-buttons
        (send)="VM.send()"
        [send-disabled]="miForm.invalid"
        (cancel)="VM.cancel()"
      ></app-form-buttons>
    </div>
  </div>
</form>
